{{- define "note" -}}
{{if eq "new-resource" .Type}}**New Resource:** {{else if eq "new-datasource" .Type}}**New Data Source:** {{else if eq "new-function" .Type}}**New Function:** {{ end }}{{.Body}} ([GH-{{- .Issue -}}])
{{- end -}}
